main section:nth-of-type(1) h3 button {
	position: relative;
	font-family: fontBold;
	font-size: 1em;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	padding: 0.5em;

}


main section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	margin: 1em;
	position: relative;
}

main section:nth-of-type(1) ul {
	list-style: none;
	grid-template-columns: 1fr 1fr;
	display: grid;
	position: absolute;
	background: var(--color-background);
	top: 100%;
	font-family: fontBold;
	border-color: var(--color-border);
	border-style: solid;
	transform: translateX(-300%);

}


main section:nth-of-type(1) ul li {
	width: 15em;

}

main section:nth-of-type(1) ul li a {
	padding: 0.3em 1em;
	display: block;
	font-family: fontBold;
	text-transform: uppercase;
}

main section:nth-of-type(1) ul.show {
	transform: translateX(0);
}

/* https://codepen.io/KaoriYes/pen/abPQVrx */



main section:nth-child(2) li {
	list-style-type: none;
	display: flex;
	flex-direction: column;

}

main section:nth-child(2) li img {
	width: 21em;
	height: 15em;
	display: flex;
	order: -1;
	margin: 1em;

}

main section:nth-child(2) li h4 {
	font-weight: 900;
	font-size: 1.2em;
	font-family: fontBold;
	text-transform: uppercase;
	margin: 2%;
	color: var(--color-donkerGrijs);
	display: flex;
	order: 1;
	position: relative;
	left: .5em;
	bottom: .5em;
}


main section:nth-child(2) ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	column-gap: 1em;
	grid-gap: 1em;
	margin-bottom: 5em;
}

/* https://dlo.mijnhva.nl/content/enforced/536487-FDMCI-2000FED121-DMCI-CMD-2324/FED%2023-24%20-%20Blok%201%20-%20Oefening%20grid.pdf */


@media ((width < 48em)) {
	main section:nth-child(2) li img {
		display: flex;
		justify-content: center;
	}



	main section:nth-child(2) h4 img {
		display: none;
	}


	main section:nth-of-type(1) h3 button {
		position: fixed;
		left: 11em;
		top: 35em;

	}

}