 main section:nth-of-type(1) img {
     height: 15em;
     width: 12em;
     display: flex;
     order: 1;
 }


 section:nth-of-type(1) ul {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-top: 2em;
     align-items: center;

 }

 section:nth-of-type(1) li {
     display: flex;
     flex-direction: column;
     margin: 1em;

 }

 section:nth-of-type(1) h2 {
     font-family: fontRoman;
     font-weight: 400;
     font-size: 1em;
     display: flex;
     order: 2;
     margin: 2em;

 }

 main section:nth-of-type(1) p {
     font-family: fontRoman;
     font-weight: 900;
     font-size: 100%;
     display: flex;
     order: 3;
     justify-content: start;
     margin-left: 2em;

 }




 @media (width > 48em) {
     main section:nth-of-type(1) img {
         width: 20em;
         height: 25em;
     }

 }

 @media (width < 48em) {
     section:nth-of-type(1) ul {
         grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

     }
 }