@font-face {
	font-family: fontBold;
	src: url("../Fonts/Helvetica_Neue_Bold.woff2") format('woff2');

}



/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: white;
	--color-wittekst: white;
	--color-donkerGrijs: #3A3A3A;
	--color-headerTekst: grey;
	--color-footer: black;
	--color-border: black;
	--color-hover: blue;
	--color-focus: #FFFACD;
	--color-active: red;
	--color-focusFooter: #2e8540;
	--color-pBack: #0F0F0F;
	--color-buttonHover: #A9A9A9;
	--color-focusButton: #C0C0C0;
	--color-lookOpen: #DCDCDC;

}


/****************/
/* JOUW STYLING */
/****************/


a {
	color: var(--color-donkerGrijs);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-hover);

}

main a:focus,
header a:focus {
	background-color: var(--color-focus);
}

a:active {
	color: var(--color-active);
}

footer a:focus {
	background-color: var(--color-focusFooter);
}

footer a:active {
	color: var(--color-active);
}

footer a:hover,
footer a p:hover {
	color: var(--color-hover);
}

button {
	cursor: pointer;
}

/* https://www.w3schools.com/cssref/pr_class_cursor.php */


main button:focus,
footer button:focus {
	background-color: var(--color-focusButton);
}

main button:active,
footer button:focus {
	background-color: var(--color-active);
}


/* bovenste lijn */
header p:nth-child(2) {
	background-color: var(--color-donkerGrijs);
	height: 3em;
	color: var(--color-wittekst);
	display: flex;
	justify-content: center;
	font-size: 100%;
	text-transform: uppercase;
	align-items: center;
	text-align: center;
	font-family: fontBold;
}

header section:first-of-type h1 {
	position: relative;
	left: -99999em;
	position: fixed;
}

/* hamburgermenu */
header nav:nth-of-type(2)>a {
	z-index: 9999;
}

header>button {
	z-index: 999;
	margin: 1em;
	position: relative;
	background: none;
	border: none;
	position: fixed;
	padding: 1em;
	top: 5em;
}

span {
	display: flex;
	width: 2.5em;
	height: .2em;
	margin-bottom: .5em;
	background: var(--color-text);
	border-radius: 3px;
	transform: scaleX(-1);
	transition: .2s;
}

header button:hover span:nth-of-type(1) {
	width: 120%;
}

header button:hover span:nth-of-type(2) {
	width: 120%;
}

header button:hover span:nth-of-type(3) {
	width: 120%;
}

/* https://codepen.io/shooft/live/NWePYRO */

header nav:nth-of-type(2) {
	position: fixed;
	transform: translateX(-100%);
	transition: .5s;
	background-color: var(--color-background);
	top: 0;
	bottom: 0;
	padding-top: 5em;
	z-index: 3;
	overflow-y: auto;

}

header nav:nth-of-type(2) li {
	font-family: fontBold;
	text-transform: uppercase;
	font-weight: 800;
	top: 4em;
	margin: 1.5em;
	font-size: 1.2em;
	list-style-type: none;
}

header nav:nth-of-type(2) ul {
	margin: 3em;
}

header nav:nth-of-type(2).open {
	transform: translateX(0%);
}

/* iconen */
header nav:nth-child(2) h2 {
	position: relative;
	left: -9999em;
	position: fixed;
}

select {
	position: relative;
	left: 4em;
}

header nav:nth-child(2) img:nth-child(1) {
	width: 6em;
	height: 5em;
	
}

header nav:nth-child(2) li:nth-of-type(1) img {
	width: 2em;
	height: 2em;
}

header nav:nth-child(2) li:nth-of-type(2) img {
	width: 2em;
	height: 2em;
}

header nav:nth-child(2) li:nth-of-type(3) img {
	width: 2em;
	height: 2em;
}

header nav:nth-child(2) {
	position: fixed;
	left: 0;
	right: 0;
	top: 3em;
	display: flex;
	gap: .5em;
	align-items: center;
	padding: 1em;
	z-index: 999;
}

header nav:nth-child(2)>a {
	margin: auto;

}

header nav:nth-child(2) ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* https://codepen.io/shooft/pen/oNJQoRv */


/* slider nav */
/* https://dlo.mijnhva.nl/content/enforced/536487-FDMCI-2000FED121-DMCI-CMD-2324/FED%2023-24%20-%20Blok%201%20-%20Oefening%20flexbox.pdf */
header nav:nth-of-type(3) ul {
	display: flex;
	gap: 3em;
	overflow-x: auto;
	margin-left: 2em;
	margin-top: 8em;
	margin-bottom: 2em;
}

header nav:nth-of-type(3) li {
	display: flex;
	flex-shrink: 0;
	font-size: 100%;
	font-weight: 800;
	font-family: fontBold;
	text-transform: uppercase;

}

footer {
	background-color: var(--color-footer);

}

footer section h2 {
	color: var(--color-wittekst);
	font-family: fontBold;
	margin: 0;
}

footer section p {
	color: var(--color-wittekst);
	left: 0;
	padding: .7em 1em 1em 3em;
	font-family: fontBold;
	position: static;
	font-size: 150%;
	margin-top: -2em;
}

footer a {
	position: relative;
	top: 2em;
	text-transform: uppercase;

}

footer h2 img {
	display: flex;
	margin: 3em;
	width: 6em;
	height: 5em;
}

footer nav {
	padding: 1em;

}

footer section {
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: var(--color-pBack);
}

/* https://dlo.mijnhva.nl/content/enforced/536487-FDMCI-2000FED121-DMCI-CMD-2324/FED%2023-24%20-%20Blok%201%20-%20Oefening%20grid.pdf */


footer li {
	text-transform: uppercase;
	font-family: fontBold;
	padding: .7em .2em 1.5em 3em;
}

footer a {
	color: var(--color-wittekst);
}

label {
	color: var(--color-wittekst);
	font-family: fontBold;
	font-size: 2em;
}

footer form {
	padding: 2em;
	margin: 2em;
}

footer input {
	width: 20em;
	margin-top: 1em;
	display: flex;
	flex-direction: column;

}

footer button {
	display: flex;
	flex-wrap: nowrap;
}

/* https://codepen.io/shooft/pen/qBLxdym?editors=1100 */


@media ((width > 48em)) {

	header nav:nth-of-type(3) li {
		margin-left: 2em;
	}


	header nav:nth-of-type(3) ul {
		gap: 1em;
		justify-content: center;
	}

	footer {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	footer nav ul {
		margin: 0;
		height: 30em;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

}

@media ((width < 25em)) {


	footer section p {
		left: -9999em;
		position: absolute;
	}

	footer section {
		background-color: var(--color-footer);
		top: 3em;
		position: relative;
	}

	header nav:nth-child(2) img:nth-child(1) {
		width: 5em;
		height: 4em;
	}

}